@media (max-width: 575.98px) {

    .slide-home {
        border: 1px solid red;
        top: 300px ;
    }

    .place {
        display: none;
    }

    .logo {
        width: 60vw;
        top: -40px;
        left: 50%;
        margin-left: -30vw;
    }

    .nav {
        display: none;
    }

    .bg,
    .bg-base {
        transform: scale(4) ;
    }

    .tamales-colombianos {
        width: 80vw;
        left: 40px;
        top: 30vh;


    }

    .arrow-lg {
        left: 50px ;
        transform: rotate(40deg);
        bottom: -150px ;
    }

    .tamal {

        right: -50vw ;
        bottom: 50px ;
        width: 100vw ;
    }

    .carousel {

        height: 100vh ;
       
    }

   
    

    .open-tamal {
        width: 30vw ;
        left: 50%;
        margin-left: -15vw;
        bottom: 60px ;
    }

    .whatsapp {
        right: 20px ;
    }

    .tooltip-whatsapp {
        width: 90vw ;
        p{
            padding-right: 40px;
        }
    }

    /* --------------------------------- anatomy -------------------------------- */

    .anatomy-conten {
        width: 100vw ;
        height: 100vh ;
        left: 0;
        margin: 0 ;
    }

    .fast-nav {
        width: 80vw;
        left: 10vw;
        position: absolute;
        top: 24vh;
        display: grid;
        grid-template-columns: 50% 50%;
        text-align: center;

        a {
            padding: 10px;
        }
    }

    .tamal-go {
        width: 100%;
    }

    .lg {
        display: none;
    }

    /* --------------------------------- contact -------------------------------- */

    .contact {
        padding: 30px 0;
        section {
            width: 100%;
            margin-left: 0;
            display: grid;
            grid-template-columns: 1fr;
            text-align: left;
        }
        span {
            font-size: 3em ;
        }
        h2{
            font-size: 2em ;
        }
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}