
$mainBrandColor: #fff;
$secondaryFocus: #111111;
// $Highlight: #88f363;
$Highlight: #f7d502;
$Highlight-secondary: #73c9ff;
$titleFont: 'goboldregular';

// media
$xs: "(max-width: 575.98px)";
$sm: "(max-width: 767.98px)";
$md: "(max-width: 991.98px)";
$lg: "(min-width: 992px)";

