@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@font-face {
  font-family: "goboldregular";
  src: url("../font/gobold-webfont.woff2") format("woff2"), url("../font/gobold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gobold_boldregular";
  src: url("../font/gobold_bold-webfont.woff2") format("woff2"), url("../font/gobold_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gobold_thin_lightregular";
  src: url("../font/gobold_light-webfont.woff2") format("woff2"), url("../font/gobold_light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gobold_thinregular";
  src: url("../font/gobold_thin-webfont.woff2") format("woff2"), url("../font/gobold_thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
a {
  color: #111111;
  text-decoration: none !important;
}
a:hover {
  color: initial;
}

img {
  width: auto;
  max-width: 100%;
}

p {
  margin-bottom: 30px;
}

body,
html {
  font-size: 15px;
  background: #000;
  font-family: "Raleway", sans-serif;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.head {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
  height: 100px;
}

.logo {
  position: absolute;
  width: 20vw;
  top: 0;
  left: 10px;
}

.nav {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  height: 100%;
}
.nav a {
  color: #fff;
  padding: 0 30px;
  font-family: "gobold_thinregular";
  text-transform: uppercase;
  position: relative;
  display: block;
  line-height: 100px;
}
.nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background: #f7d502;
  transition: all 200ms;
}
.nav a.active::after, .nav a:hover::after {
  width: 100%;
  transform: translate(-50%, 0);
  transition: all 200ms;
}

/* --------------------------------- BANNER --------------------------------- */
.banner {
  position: relative;
  width: 100vw;
  height: 80vh;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}
.banner .bg {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
}
.banner .bg-base {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
}
.banner .tamales-colombianos {
  width: 25vw;
  position: absolute;
  top: 20vh;
  left: 20%;
}
.banner .logo-tamales-colombianos {
  width: 100%;
}
.banner .arrow-lg {
  position: absolute;
  bottom: -140px;
  right: 0;
  width: 40%;
}
.banner .arrow-lg .arrow {
  fill: #fff;
}
.banner .tamal {
  position: absolute;
  right: 12vw;
  bottom: 0;
  width: 32vw;
  display: inline-block;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transform: translateZ(0px);
  -moz-transform: translateZ(0px);
  -webkit-transform: translateZ(0px);
}
.banner .open-tamal {
  width: 120px;
  height: 120px;
  position: absolute;
  left: 50%;
  bottom: 140px;
  margin-left: -60px;
  cursor: pointer;
  z-index: 500;
}
.banner .open-tamal svg {
  fill: #fff;
  transition: ease-in-out 300ms;
}
.banner .open-tamal svg:hover {
  fill: #f7d502;
  transition: ease-in-out 300ms;
}
.banner .open-tamal svg .icon {
  animation: rotation 12s infinite linear;
  transform-origin: 50% 50%;
  display: inline-block;
  /* <--- */
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* --------------------------------- SLIDER --------------------------------- */
.slider-wrapper {
  display: grid;
  grid-template-columns: 100vw 100vw;
}

.slider-item {
  position: relative;
  overflow: hidden;
  height: 80vh;
  color: #fff !important;
}

.slider-pager {
  display: grid;
  grid-template-columns: 40px 40px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  margin-left: -40px;
  z-index: 500;
}
.slider-pager span {
  width: 14px;
  height: 14px;
  border-radius: 30px;
  background: #fff;
  display: block;
  justify-self: center;
  cursor: pointer;
}
.slider-pager span.active {
  background: #f7d502;
}

.reset-overflow {
  overflow: initial !important;
}

.fast-menu {
  width: 80vw;
  left: 10vw;
  position: absolute;
  top: 10vh;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  text-align: center;
}
.fast-menu a {
  padding: 30px;
  display: block;
}
.fast-menu a img {
  width: 80%;
  display: block;
  margin: 0 auto;
}
.fast-menu a p {
  font-size: 1.4em;
  color: #fff;
  width: 100%;
  text-align: center;
  font-family: "goboldregular";
  text-transform: uppercase;
}

.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 40px;
  width: 60px;
  height: 60px;
  z-index: 1000;
}
.whatsapp .wt0 {
  fill: #0DC143;
}
.whatsapp .wt1 {
  fill: #ffffff;
}
.whatsapp .whataspp-icon {
  width: 100%;
}

.tooltip-whatsapp {
  width: 360px;
  background: #fff;
  position: absolute;
  right: 0;
  bottom: 80px;
  padding: 10px;
  border-radius: 12px;
}
.tooltip-whatsapp .tooltip-arrow {
  position: absolute;
  right: 60px;
  bottom: -60px;
  width: 60px;
}
.tooltip-whatsapp p {
  color: #111111;
  font-size: 1em;
  margin-bottom: 0;
}
.tooltip-whatsapp h2 {
  font-size: 1.2em;
  font-family: "gobold_boldregular";
  margin: 20px 0 10px 0;
}
.tooltip-whatsapp a {
  width: 100%;
  display: block;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-gap: 20px;
}

.close {
  width: 40px;
  padding: 10px;
  position: absolute;
  top: -10px;
  right: 0;
  z-index: 200;
  cursor: pointer;
}
.close path {
  fill: #111111;
}

/* ---------------------------------- MENU ---------------------------------- */
.menu {
  text-align: center;
  background: url("../img/bg_menu.jpg") center top;
  background-size: cover;
  padding: 200px 0;
  position: relative;
}
.menu section {
  text-align: right;
  width: 60vw;
  margin-left: 20vw;
  position: relative;
  padding-top: 100px;
}
.menu section img {
  width: 60%;
}
.menu img.title-menu {
  width: 200px;
}
.menu .menu-envueltos {
  position: absolute;
  left: 100px;
  top: 50px;
  z-index: 100;
  width: 45%;
}
.menu .btn-white {
  margin-top: 30px;
}

.btn-white {
  padding: 15px 60px;
  color: #fff;
  border: 1px solid #fff;
  display: inline-block;
  font-family: "goboldregular";
  text-transform: uppercase;
  font-size: 1.2em;
  cursor: pointer;
}
.btn-white:hover {
  border-color: #f7d502;
  color: #f7d502;
}

h2 {
  font-size: 4em;
  font-family: "goboldregular";
  margin-bottom: 100px;
  text-transform: uppercase;
}

h3 {
  font-size: 2.4em;
  font-family: "goboldregular";
  margin: 30px 0;
  text-transform: uppercase;
}

h4 {
  font-size: 1.4em;
  font-weight: bold;
  margin: 30px 0;
}

/* ---------------------------------- PLACE --------------------------------- */
.place {
  background: #e2e2e2;
  padding: 200px 0 0 0;
  text-align: center;
}
.place section {
  display: grid;
  width: 60%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0;
  align-items: center;
  margin: 0 auto;
  transition: all 0.8s !important;
}
.place section div:hover {
  background: #000;
  color: #fff;
  cursor: pointer;
  transition: all 0.8s !important;
}
.place section div:hover h3 {
  color: #f7d502;
}
.place #mapid {
  height: 60vh;
  width: 100%;
}

/* ---------------------------------- CONTACT --------------------------------- */
.contact {
  text-align: center;
  background: #000;
  padding: 200px 0;
  position: relative;
  color: #fff;
}
.contact section {
  width: 60%;
  margin-left: 20%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
}
.contact section h2 {
  font-size: 50px;
  font-family: "gobold_thin_lightregular";
  text-transform: uppercase;
  margin-bottom: 0;
}
.contact section span {
  color: #f7d502;
  font-size: 70px;
  font-family: "goboldregular";
}
.contact .delivery {
  margin-top: 160px;
  padding-left: 30px;
}

/* ---------------------------------- STEPS --------------------------------- */
.anatomy {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: -3000px;
  left: 0;
  background: rgba(1, 1, 1, 0.7);
  z-index: 9999;
}
.anatomy .anatomy-conten {
  width: 60vw;
  height: 80vh;
  background: url("../img/steps_bg.jpg") center center;
  background-size: cover;
  margin: 10vh 0 0 20vw;
  border-radius: 20px;
  border: 10px solid #111;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.anatomy .anatomy-conten .anatomy-step {
  position: absolute;
  top: 20%;
  left: 0;
  opacity: 0;
  width: 60%;
  margin-left: 20%;
}
.anatomy .anatomy-conten .anatomia-title {
  width: 30%;
}

.menu-all {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
}

body {
  display: none !important;
}

/*# sourceMappingURL=main.css.map */
